<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <!-- mt = margin-top, 3 = size -->
    <div id="app" class="container mt-3">

        <div class="mt-4 text-right">
            <button type="button" class="btn btn-primary" @click="openModal('create')">建立新產品</button>
        </div>

        <!-- 每個元件都先用 div 包住，再用 mt 控制位置 -->
        <div class="mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">分類</th>
                        <th scope="col">產品名稱</th>
                        <th scope="col">原價</th>
                        <th scope="col">售價</th>
                        <th scope="col">是否啟用</th>
                        <th scope="col">編輯</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, key) in product_list" :key="item.title">
                        <td>{{ item.category }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.origin_price }}</td>
                        <td>{{ item.price }}</td>
                        <td>
                            <span v-if="item.enabled" class="text-success">啟用</span>
                            <span v-else>未啟用</span>
                        </td>
                        <td>
                            <!-- 合再一起的元件，通常都是 xxx-group ( ex: btn-group, list-group ) -->
                            <div class="btn-group">
                                <button type="button" class="btn btn-outline-primary">編輯</button>
                                <button type="button" class="btn btn-outline-danger" @click="openModal('delete', item)">刪除</button>
                            </div>
                        </td>
                    </tr>
                </tbody>

                <!-- Create New Product Modal -->
                <div class="modal fade" id="addProductModal" tabindex="-1" role="dialog"
                    aria-labelledby="addProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">
                            <div class="modal-header bg-dark text-white">
                                <h5 class="modal-title" id="addProductModalLabel">建立新產品</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="image-url" class="col-form-label">貼上圖片網址</label>
                                            <input v-model="tempProduct.imageUrl" type="url" class="form-control"
                                                id="image-url" placeholder="請貼上圖片網址">
                                        </div>
                                        <img class="img-fluid" :src="tempProduct.imageUrl">
                                    </div>

                                    <div class="col-sm-8">
                                        <form>
                                            <!-- form-group 可以讓不同元件在表單內取得最佳間距 -->
                                            <div class="form-group">
                                                <label for="title" class="col-form-label">標題</label>
                                                <input v-model="tempProduct.title" type="text" class="form-control"
                                                    id="title" placeholder="請輸入標題">
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label for="category" class="col-form-label">分類</label>
                                                    <input v-model="tempProduct.category" type="text"
                                                        class="form-control" id="category" placeholder="請輸入分類">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="unit" class="col-form-label">單位</label>
                                                    <input v-model="tempProduct.unit" type="text" class="form-control"
                                                        id="unit" placeholder="請輸入單位">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="col-md-6">
                                                    <label for="origin_price" class="col-form-label">原價</label>
                                                    <input v-model="tempProduct.origin_price" type="text"
                                                        class="form-control" id="origin_price" placeholder="請輸入原價">
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="price" class="col-form-label">售價</label>
                                                    <input v-model="tempProduct.price" type="text" class="form-control"
                                                        id="price" placeholder="請輸入售價">
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="form-group">
                                                <label for="description">產品描述</label>
                                                <textarea v-model="tempProduct.description" class="form-control"
                                                    id="description" rows="2" placeholder="請輸入產品描述"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="content">說明內容</label>
                                                <textarea v-model="tempProduct.content" class="form-control"
                                                    id="content" rows="2" placeholder="請輸入說明內容"></textarea>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input" type="checkbox" value="" id="enabled"
                                                    v-model="tempProduct.enabled">
                                                <label class="form-check-label" for="enabled">
                                                    是否啟用
                                                </label>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="addProduct">確認</button>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Modal -->
                <div class="modal fade" id="delProductModal" tabindex="-1" role="dialog"
                    aria-labelledby="delProductModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header bg-danger text-white">
                                <h5 class="modal-title" id="delProductModalLabel">刪除產品</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                是否刪除
                                <strong class="text-danger">{{ tempProduct.title }}</strong>
                                (刪除後無法恢復)。
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-danger" @click="delProduct">確定刪除</button>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
        </div>


    </div>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="all.js"></script>
</body>

</html>